<div class="home">
  <div class="home-title">This is Home</div>
</div>

<button nz-button nzType="default" (click)="click()">Default</button>

<br />

<!--<button nz-button nzType="primary" nzSize="default" nzShape="circle"><i nz-icon type="download"></i></button>-->

<div class="clearfix">
  <nz-upload nzAction="test/upFile" nzListType="picture" (nzChange)="upData($event)">
    <button nz-button [disabled]="upLoading"><i nz-icon type="upload"></i><span>Upload</span></button>
  </nz-upload>
</div>
